body {
  background-image: url("../images/ToDoBackground.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive; }

h3 {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive; }

p {
  font-family: 'Poppins', sans-serif; }

.input-field {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ef9a9a;
  opacity: 0.75;
  border-radius: 5px; }

.materialize-textarea {
  color: white; }

.btn-floating {
  float: right;
  margin-top: -50px; }

.task {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px;
  border-bottom-style: solid;
  background: white;
  opacity: 0.75;
  margin-bottom: 20px;
  border-radius: 5px; }
